

.blog-page__tittle{
	text-align: center;
	color: #d60f7f;
	font-size: 3.6rem;
	font-family: "Comfortaa-Bold", sans-serif;
	margin-bottom: 3rem;
	margin-top: 7rem;
}

.blog-page__text{
	text-align: center; 
	font-size: 1.9rem;
	font-family: "Lato-Light", sans-serif;
}

.blog-page__date{
	font-size: 1.8rem;
	color: #d4d4d4;
}

.blog-page{
	.social__list{
		float: right;

		.fa{
			font-size: 2.5rem;
			color: #d4d4d4;
		}

	}

	.sliders__ball{
		position: relative;
		top: 12rem;
		z-index: -1;
		left: 0;
	}

	.greenLineLight{
		position: relative;
		left: 50%;
		
	}
}



.blog-page__slide-bottom{
	text-align: center;
}

.blog-page__slide-bottom__item{
	position: relative;
	max-width: 20rem;
	max-height: 20rem;
	display: inline-block;
}

.blog-page__slide-bottom__item:after{
	content: '';
	position: absolute;
	top: -1px; 
	right: -1px;
	bottom: -1px; 
	left: -1px;
	background-image: url("../img/cloudnew.png");
	background-size: 100% 100%;
}

.blog-page__slide-bottom-img{
	max-width: 20rem;
	max-height: 20rem;
	width: 100%;
	object-fit: fill;

}




#blog-page__full{
	
	max-width: 65rem;
	max-height: 65rem;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: 100% , 100%;
	background-position: center center;
	margin:0 auto;

}

.img--1{
	background-image: url("../img/aboutimg.png");
}

.img--2{
	background-image: url("../img/praducts2.png");
}

.img--3{
	background-image: url("../img/aboutimg.png");
}
.img--4{
	background-image: url("../img/praducts2.png");
}
.img--5{
	background-image: url("../img/aboutimg.png");
}

.blog-page__full-img{
	max-width: 65rem;
	max-height: 65rem;
	width: 100%;
	height: 100%; 
}

.blog-page__bottom-img{
	width: 18rem;
	height: 18rem;
	display: inline-block;
} 


.test {
	display: inline-block;
	position: relative;
	cursor: pointer;
}
.test:after {
	content: '';
	position: absolute;
	top: 0; right: 0;
	bottom: 0; left: 0;
	background: url("../img/cloudnew.png");
	background-size: cover;
	background-position: center;
}